body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size: cover; 
    background-repeat: no-repeat; 
}

.container{
   display: flex; 
   width: 100%;
   height: 100vh;
   align-items: center;
}

.container img{
    width: 60%;
}

.container .descricao{
    padding: 40px;

}

.container .descricao h1{
    color:hsl(0, 0%, 100%);
    font-size: 45px;
    margin-bottom: 20px;
}

.container .descricao p{
    color:hsl(0, 0%, 100%) ;
    font-size: 18px;
    margin-bottom: 20px;
}

.registrar{
    font-size: 20px;
    padding: 10px;
    border-radius: 40%;
}

input[type="button"] {
    background-color:hsl hsl(0, 0%, 100%);
    color:hsl(257, 40%, 49%); 
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px; 
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: flex-end;
    color: hsl(0, 0%, 100%);
    margin: 30px;
}

.footer i{
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius:50%;
    border: 2px solid hsl(0, 0%, 100%);  
}


